html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: #272727;
}

.parent {
    display: grid;
    grid-template-columns: auto auto auto;
    overflow: hidden;
    grid-template-rows: auto auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100%;
}

.div1 {
    grid-area: 2 / 2 / 3 / 3;
    aspect-ratio: 1;
    width: 80vmin;
    margin: auto
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 3 / 2 / 4 / 3;
}

.div4 {
    grid-area: 2 / 1 / 3 / 2;
    width: 10vw;
}

.div5 {
    grid-area: 2 / 3 / 3 / 4;
    width: auto;
}

.div6 {
    grid-area: 1 / 1 / 2 / 2;
}

.board {
    display: block;
    border: 1px solid black;
    height: 100%;
    width: 100%;
    background-color: #d3d3d3;
}

.userInfo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: lightgrey;
    width: 80vmin;
    margin: auto;
}

.userName1 {
    position: relative;
    top: 1vh;
}

.userName2 {
    position: relative;
    top: 6vh;
}

.captures1 {
    position: relative;
    bottom: 2vh;
    float: right;
    width: 66%;
    aspect-ratio: 400/50;
}

.captures2 {
    position: relative;
    top: 0vh;
    float: right;
    width: 66%;
    aspect-ratio: 400/50;
}

.gameInfo {
    width: 80%;
    position: relative;
    top: 40%;
    transform: translateY(-40%);
}

.endGame {
    width: 50%;
    display: inline;
    height: 20px;
}

.draw {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: lightgrey;
    background-color: #333333;
    width: 50%;
    height: 10%;
    margin: 0 auto;
}

.resign {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: lightgrey;
    background-color: #333333;
    height: 10%;
    margin: 0 auto;
    width: 100%;
}

.clock {
    width: auto;
    height: 30px;
    margin: auto;
    text-align: center;
    line-height: 30px;
    border: 1px groove lightgray;
    background-color: #333333;
    color: lightgray;
}

.info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: lightgrey;
    margin: 10px 0px;
}

.colorSelectDiv {
    color: lightgrey;
    padding: 2%;
    height: 10vh;
}

.login {
    width: 20vw;
    min-width: 300px;
    min-height: 340px;
    height: 30vh;
    background-color: #202020;
    width: fit-content;
    margin: auto;
    margin-top: 20vh;
    padding: 3vh;
    color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    border-radius: 5%;
}

.colorSelect {
    margin: 2px;
    width: 20%;
}

.colorSelectOutline {
    border: 2px solid lightgray;
    margin: 0px;
    width: 20%;
    border-radius: 5%;

}

.usernameInput {
    font-size: 20px;
    width: 75%;
    height: 40px;
    margin: 20px;
    background-color: lightgray;
    text-align: center;
    font-weight: 200;
    border-radius: 5%;
}

.lobbySelect{
    background-color: #202020;
    margin: auto;
    margin-top: 20vh;
    padding: 3vh;
    width: 20vw;
    height: 40vh;
    min-width: 400px;
    min-height: 385px;
    color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    border-radius: 5%;
}

.hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.homeButton {
    padding: 10px;
    aspect-ratio: 1;
    width: 50px;
}