html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: #272727;
}

:root {
    --info-width: 15vw;
  }

.container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;

}

.gameArea {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.board {
    border: 1px solid black;
    aspect-ratio: 1;
    height: 80vh;
    background-color: #d3d3d3;
}

.userInfo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: lightgrey;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.captures1 {
    width: 66%;
    aspect-ratio: 400/50;
}

.captures2 {
    width: 66%;
    aspect-ratio: 400/50;
}

.gameInfo {
    width: var(--info-width);
    padding: 5px;
}

.dummy{
    padding: 5px;
    width: var(--info-width);
}

.endGame {
    
}

.draw {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: lightgrey;
    background-color: #333333;
    width: 50%;
    height: 10%;
    margin: 0 auto;
}

.resign {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: lightgrey;
    background-color: #333333;
    width: 50%;
    height: 10%;
    margin: 0 auto;
    float: right;
}

.clock {
    width: auto;
    height: 30px;
    margin: auto;
    text-align: center;
    line-height: 30px;
    border: 1px groove lightgray;
    background-color: #333333;
    color: lightgray;
}

.info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: lightgrey;
    margin: 10px 0px;
}

.colorSelectDiv {
    color: lightgrey;
    padding: 2%;
    height: 10vh;
}

.login {
    background-color: #202020;
    min-width: 300px;
    min-height: 360px;
    margin: auto;
    margin-top: 20vh;
    padding: 3vh;
    width: 20vw;
    height: 40vh;
    color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    border-radius: 5%;
}

.colorSelect {
    margin: 2px;
    width: 20%;
}

.colorSelectOutline {
    border: 2px solid lightgray;
    margin: 0px;
    width: 20%;
    border-radius: 5%;

}

.usernameInput {
    font-size: 20px;
    width: 75%;
    height: 40px;
    margin: 20px;
    background-color: lightgray;
    text-align: center;
    font-weight: 200;
    border-radius: 5%;
}

.lobbySelect{
    background-color: #202020;
    margin: auto;
    margin-top: 20vh;
    padding: 3vh;
    width: 20vw;
    height: 40vh;
    min-width: 400px;
    min-height: 385px;
    color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    border-radius: 5%;
}

.hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}


.homeButton {
    position: absolute;
    padding: 10px;
    aspect-ratio: 1;
    width: 50px;
}